* {    
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}
    body{
        display: flex;
        justify-content: space-around;
    }
section  {
    width: 384px;
    height: 564px;
    background-color:#2B3566;
    border-radius: 20px;
    padding: 47px 56px;}
   .blue{
        background-color: #2B3566;
    }
    .black{
        background-color: #242424
    }
    .red {background-color: #dd1F32

    }
h1 {
    font-size: 30px;
    text-transform: capitalize;
    padding-left: 56px;
    padding-top: 47px;
    padding-bottom: 21px;
}
p{
    font-size: 12px;
}
    ul{
        margin-top: 47px;
        margin-bottom: 50px
    }
    li{
        margin-bottom: 19px;
        font-size: 12px; 
                
    }

li::before {
content: '';
     position: absolute;
     left: 10px;
     top: 16px;
     width: 6px;
     height: 6px;
     background-color: lime ;
}
 .button{
     border: 1px solid #45d3c2 ;
     border-radius: 23px;
     padding: 14px  0;
 }

/* heavy check mark */
.checkmark-heavy 

 li:before {
    content: '\2714'; 
}

a{ 
    border: 1px solid #45D3C2;
    border-radius: 23px;
    line-height: 46.76px;               
    font-size: 18px;
    text-align: center;
    display: block
}
a:hover{
    background-color: rgb(100, 100, 110)

}
.first_button{
    background-color: #45D3C2;
    color:#2B3566    
    }
.secound_button{
    background-color: #002BFF;
}
.third_button{
    background-color: #FDD91A;
    color:#DD1F32    
}



    
